.wrapper-about {
	@include flex-all-sb;

	margin-top: rem(100px);

	@include small-mobile {
		flex-direction: column;
		margin-top: rem(40px);
	}
}

.about-image {
	width: 566px;
	@include small-mobile {
		// flex-direction: column;
		width: auto;
		// margin-top: 10px;
	}
}

.about-realisation {
	margin-top: rem(160px);

	@include small-mobile {
		margin-top: rem(60px);
	}
}

.table {
	@include flex-all-sb;

	color: $text-dark;

	&_title {
		font-weight: 800;

		/* 42% */
		font-size: rem(40px);
	}

	&_text {
		font-weight: 400;
		font-size: rem(20px);
	}

	@include small-mobile {
		flex-direction: column;
		border-left: 1px solid $table-border-color;
		border-right: 1px solid $table-border-color;
	}
}

.table-left {
	border: 1px solid $table-border-color;
	border-radius: 6px 0 0 6px;
	padding-left: rem(40px);

	/* Rectangle */
	// position: absolute;
	width: rem(391px);
	height: rem(176px);
}

.table-center {
	border: 1px solid $table-border-color;
	padding-left: rem(40px);
	width: rem(391px);
	height: rem(176px);
}

.table-right {
	border: 1px solid $table-border-color;
	border-radius: 6px 0 0 6px;
	padding-left: rem(40px);
	width: rem(391px);
	height: rem(176px);
}
