@import "./../mixins/effects";

.header {
  padding-top: 20px;
  height: 100vh;
  background-color: var(--bg-head-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      a {
        color: var(--light-color);
      }
    }

    /* Убираем маркеры */
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
