@import "./../mixins/effects";

.header {
	padding-top: 20px;

	// height: 100vh;
	background-color: $bg-head-color;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	ul {
		list-style-type: none;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 40px;

			a {
				color: $light-color;
			}
		}

		/* Убираем маркеры */
	}
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
// Основные стили для бургер-меню
.burger {
	@include burger; // использование вашего миксина для бургер-меню
}

// Скрытие бургер-меню на экранах больше 768px
@media (min-width: 768px) {
	.burger {
		display: none; // Скрыть бургер-меню
	}

	.nav-list {
		display: flex; // Отобразить меню как flex для планшетов и ПК
	}
}

// Отображение бургер-меню и скрытие nav-list для мобильных устройств
@media (max-width: 767px) {
	.nav-list {
		display: none; // Скрыть nav-list
	}

	.menu--active {
		display: flex; // Показывать меню, когда активен бургер
		flex-direction: column; // Или как вам нужно
	}
}
