.home {
	margin-top: 118px;

	@include small-mobile {
		margin-top: 40px;
	}
}

.home-section {
	@include flex-all-sb;

	@include small-mobile {
		flex-direction: column-reverse;
		width: auto;
	}
}

.home-left {
	position: relative;

	@include small-mobile {
		width: -webkit-fill-available;
	}
}

.studio-name {
	font-size: 16px;
	color: $accent-color;
}

.title {
	width: 575px;
	font-weight: 800;

	/* H1 */
	font-size: rem(72px);
	line-height: 80px;
	letter-spacing: -2px;
	text-align: left;
	color: $light-color;

	@include small-mobile {
		width: -webkit-fill-available;
		font-size: rem(56px);
	}
}

.text {
	width: 575px;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0;
	text-align: left;

	/* Text */

	color: $text-light-gray-color;

	@include small-mobile {
		width: -webkit-fill-available;
	}
}

.home-button {
	@include flex-all-left;

	gap: 20px;

	// text-transform: uppercase;
}

.home-bottom {
	margin-top: 40px;

	@include flex-all-left;

	gap: 20px;
}

.text-manager {
	font-weight: 400;
	font-size: rem(16px);
	color: $text-light-gray-color;
}

.text-company {
	font-weight: 400;
	font-size: 16px;
	color: $light-color;
}

.home-right {
	width: 575px;

	@include small-mobile {
		width: auto;
	}
}
