.how-work {
	margin-bottom: 108px;

	@include small-mobile {
		margin-bottom: 60px;
	}
}

.work-text {
	display: flex;
	flex-direction: column;
	margin-top: 120px;
	width: 444px;
	gap: 40px;

	@include small-mobile {
		margin-top: 60px;
		width: auto;
	}
}

.work-title {
	margin: 0;
	padding-right: 64px;
	width: auto;
	font-size: rem(72);
	color: $text-dark;
}

.text-title {
	@include flex-all-left;

	text-align: left;
}
