.portfolio {
	padding-top: rem(60px);
}

.portfolio-block {
	align-items: center;
	text-align: center;
}

.portfolio-categories {
	@include flex-all-center;

	margin-bottom: 40px;
	gap: 20px;
}

.categories {
	color: $text-light-gray-color;
	cursor: pointer;
}

.active {
	color: $light-color;
}

.porfolio-image {
	padding-bottom: rem(60px);
}

.image-top {
	// margin: 0 auto;
	@include flex-all-sb;

	padding-bottom: 30px;
}

.image-wrapper {
	position: relative;
	margin-right: 20px;
}

.image-wrapper img {
	display: block;
	width: 100%;
}

.btn-portfolio {
	position: absolute;
	left: 10%;
	top: 70%;
	border: none;
	border-radius: 19px;
	padding: 5px 16px;
	text-transform: none;
	color: $text-dark;
	background: $light-color;
}

.block-title {
	position: absolute;
	left: 10%;
	top: 70%;
	color: $light-color;
}
