.portfolio {
	padding-top: rem(60px);
}

.portfolio-block {
	align-items: center;
	text-align: center;
}

.portfolio-categories {
	@include flex-all-center;

	margin-bottom: 40px;
	gap: 20px;

	@include small-mobile {
		display: grid;
		place-items: center center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
}

.categories {
	color: $text-light-gray-color;
	cursor: pointer;
}

.active {
	color: $light-color;
}

.porfolio-image {
	padding-bottom: rem(60px);
	// @include small-mobile {
	// 	display: grid;
	// 	place-items: center center;
	// 	grid-template-columns: repeat(2, 1fr);
	// 	grid-template-rows: repeat(3, 1fr);
	// }
}

.image-top {
	// margin: 0 auto;
	@include flex-all-sb;

	padding-bottom: 30px;

	@include small-mobile {
		// margin: 0 auto;
		display: grid;
		place-items: center center;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

.image-wrapper {
	position: relative;
	margin-right: 20px;

	@include small-mobile {
		// width: auto;
		margin: 0 auto;
		padding-bottom: 20px;
	}
}

.image-wrapper img {
	display: block;
	width: 100%;
	@include small-mobile {
		// width: auto;
		height: 100vh;
	}
}

.btn-portfolio {
	position: absolute;
	left: 10%;
	top: 70%;
	border: none;
	border-radius: 19px;
	padding: 5px 16px;
	text-transform: none;
	color: $text-dark;
	background: $light-color;
}

.block-title {
	position: absolute;
	left: 10%;
	top: 70%;
	color: $light-color;
}
