.portfolio {
	min-height: 100vh;
	background-color: $bg-head-color;
	padding-top: rem(60px);
}
.portfolio-block {
	align-items: center;
	text-align: center;
}

.portfolio-categories {
	@include flex-all-center;
	gap: 20px;
}

.categories {
	cursor: pointer;
	color: $text-light-gray-color;
}
.active {
	color: $light-color;
}
.porfolio-image {
	display: grid;
	// place-items: center center;
	// grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
	height: 200px;
	margin-bottom: rem(60px);
}
.image-top {
	margin: 0 auto;
}
.image-botoom {
	margin: 0 auto;
}
