.wrapper-block {
	@include flex-all-sb;

	margin-top: rem(100px);

	@include small-mobile {
		margin-top: rem(20px);
		flex-direction: column;
	}
}

.text-block {
	width: 476px;
	font-family: $font-family;
	font-weight: 400;
	font-size: rem(16px);
	line-height: rem(32px);
	text-align: left;

	&_title {
		letter-spacing: 3px;
		text-transform: uppercase;

		/* H5 */
		color: $accent-color;
	}

	&_subtitle {
		font-weight: 800;

		/* H2 */
		font-size: rem(56px);
		line-height: 64px;
		letter-spacing: -1px;
	}

	&_work {
		font-weight: 800;

		/* H2 */
		font-size: rem(40px);
		line-height: 48px;
		letter-spacing: 0;
	}

	&_serv {
		width: 329px;
		font-weight: 800;

		/* H2 */
		font-size: rem(40px);
		line-height: 48px;
		letter-spacing: 0;
	}

	&_portfolio {
		// width: 329px;
		font-weight: 800;

		/* H2 */
		font-size: rem(56px);
		line-height: 48px;
		letter-spacing: 0;
		color: $light-color;
	}

	&_service {
		/* Text_Big */
		font-size: rem(20px);
		letter-spacing: 0;
	}

	&_description {
		line-height: 32px;
		letter-spacing: 0;

		/* Text */
		color: $text-dark-description;
	}

	@include small-mobile {
		width: auto;
		margin: 0 auto;
		&_subtitle {
			/* H2 */
			font-size: rem(48px);
			line-height: 1.1;
		}
	}
}
