<header class="header">
    <div class="container">
        <div class="nav">
            <img src="../img/logo/logo.png" alt="" />
            <ul class="nav-list">
                <li>
                    <a href="#!">About</a>
                    <a href="#!">Services</a>
                    <a href="#!">Pricing</a>
                    <a href="#!">Blog</a>
                </li>
            </ul>
            <button class="btn">Contact</button>
        </div>
        @include('home.html')
    </div>
</header>
