<section class="home">
	<div class="home-section">
		<div class="home-left">
			<h3 class="title-red">Modern studio</h3>
			<h1 class="title">We’re Help To Build Your Dream Project</h1>
			<p class="text">
				Agency provides a full service range including technical skills,
				design, business understanding.
			</p>
			<div class="home-button">
				<button class="btn btn-orange">how we work</button>
				<button class="btn">Contant Us</button>
			</div>
			<div class="home-bottom">
				<img src="./img/home/author.png" alt="" />
				<div class="home-bottom_text">
					<p class="text-manager">
						Put themselves in the merchant's shoes
					</p>
					<p class="text-company">Meta inc.</p>
				</div>
			</div>
		</div>
		<div class="home-right">
			<img class="img-yellow" src="../img/home/right.png" alt="" />
		</div>
	</div>
</section>
