<section class="container">
	<div>
		<div class="wrapper-block">
			<div class="text-block">
				<h5 class="text-block_title">How we work</h5>
				<h2 class="text-block_work">
					Making Your Projects Look Awesome
				</h2>
				<p class="text-block_description">
					Technical skills, design, business understanding, ability to
					put themselves in the merchant's shoes.
				</p>
				<button class="btn btn-white">read more</button>
			</div>
			<div class="about-image">
				<img src="./../img/about/about.png" alt="" />
			</div>
		</div>
	</div>
</section>
