<section class="container">
	<div class="how-work">
		<div class="wrapper-block">
			<div class="text-block">
				<h5 class="text-block_title">How we work</h5>
				<h2 class="text-block_work">
					Making Your Projects Look Awesome
				</h2>
				<p class="text-block_description">
					Technical skills, design, business understanding, ability to
					put themselves in the merchant's shoes.
				</p>
				<button class="btn btn-white">read more</button>
			</div>
			<div class="work-text">
				<div class="text-title">
					<h1 class="work-title">1</h1>
					<h4 class="title-description">
						Full service range including
					</h4>
				</div>
				<div class="text-title">
					<h1 class="work-title">2</h1>
					<h4 class="title-description">
						Technical skills, design, business
					</h4>
				</div>
				<div class="text-title">
					<h1 class="work-title">3</h1>
					<h4 class="title-description">
						Themselves in the merchant's
					</h4>
				</div>
			</div>
		</div>
	</div>
</section>
@include('components/divider.html')
