<section class="container">
	<div class="portfolio">
		<div class="portfolio-block">
			<h5 class="text-block_title">portfolio</h5>
			<h2 class="text-block_portfolio">Latest Work</h2>
		</div>

		<div class="portfolio-categories">
			<p class="categories active">Show All</p>
			<p class="categories">design</p>
			<p class="categories">Branding</p>
			<p class="categories">Illustration</p>
			<p class="categories">Motion</p>
		</div>
		<div class="porfolio-image">
			<div class="image-top">
				<img src="../img/portfolio/sofa.png" alt="" />
				<img src="../img/portfolio/keyboard.png" alt="" />
			</div>
			<div class="image-botoom">
				<img src="../img/portfolio/work-media.png" alt="" />
				<img src="../img/portfolio/done.png" alt="" />
			</div>
		</div>
	</div>
</section>
