<section class="container">
	<div class="portfolio">
		<div class="portfolio-block">
			<h5 class="text-block_title">portfolio</h5>
			<h2 class="text-block_portfolio">Latest Work</h2>
		</div>

		<div class="portfolio-categories">
			<p class="categories active">Show All</p>
			<p class="categories">Design</p>
			<p class="categories">Branding</p>
			<p class="categories">Illustration</p>
			<p class="categories">Motion</p>
		</div>
		<div class="porfolio-image">
			<div class="image-top">
				<div class="image-wrapper">
					<img src="../img/portfolio/sofa.png" alt="" />
					<button class="btn btn-portfolio">Design</button>
					<h3 class="text-block_serv block-title">Sofa</h3>
				</div>
				<div class="image-wrapper">
					<img src="../img/portfolio/keyboard.png" alt="" />
					<button class="btn btn-portfolio">Branding</button>
					<h3 class="text-block_serv block-title">KeyBoard</h3>
				</div>
			</div>
			<div class="image-top">
				<div class="image-wrapper">
					<img src="../img/portfolio/work-media.png" alt="" />
					<button class="btn btn-portfolio">Illustration</button>
					<h3 class="text-block_serv block-title">Work Media</h3>
				</div>
				<div class="image-wrapper">
					<img src="../img/portfolio/done.png" alt="" />
					<button class="btn btn-portfolio">Motion</button>
					<h3 class="text-block_serv block-title">DDDone</h3>
				</div>
			</div>
		</div>
	</div>
</section>
