<section class="container">
	<div class="wrapper-block" id="services">
		<div class="about-image">
			<img src="./../img/service/service.png" alt="" />
		</div>
		<div class="text-block">
			<h5 class="text-block_title">service</h5>
			<h2 class="text-block_subtitle">Making Complex Digital Products</h2>
			<p class="text-block_service">
				Agency provides a full service range including technical skills,
				design, business.
			</p>
			<div class="manager">
				<img src="../img/service/jenny.png" alt="" />
				<div class="manager-text">
					<p class="text-block_description">
						"Understanding, ability to put themselves in the
						merchant's shoes. It is meant to partner."
					</p>
					<p>Jenny Murtaugh</p>
				</div>
			</div>
			<button class="btn btn-white">explore</button>
		</div>
	</div>
	<div class="service">
		<h5 class="text-block_title">service</h5>
		<h2 class="text-block_serv">Making Your Projects Look Awesome</h2>
	</div>
	<div class="service-list">
		<!--  -->
		<div class="list">
			<img class="list-img" src="../img/service/design.png" alt="" />
			<div class="list-title">Design</div>
			<div class="list-subtitle">
				Agency provides a full service range including technical skills,
				design.
			</div>

			<p>Leam More</p>
		</div>
		<!--  -->
		<div class="list">
			<img class="list-img" src="../img/service/design.png" alt="" />
			<div class="list-title">Development</div>
			<div class="list-subtitle">
				Full service range including technical skills, design,
				business..
			</div>

			<p>Discover More</p>
		</div>
		<!--  -->
		<div class="list">
			<img class="list-img" src="../img/service/design.png" alt="" />
			<div class="list-title">Marketing</div>
			<div class="list-subtitle">
				Technical skills, design, business understanding, ability.
			</div>

			<p class="list-btn">Explore Now</p>
		</div>
	</div>
</section>
