// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Epilogue-Regular", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --accent-color: #ef6d58;
  --bg-head-color: #210c38;
  --text-light-gray-color: rgba(255, 255, 255, 0.64);
  --border-color: #f5deb3;
  --main-color: #f5ded1;
}
